
.main{
    
    padding-top: 50px;
    width: 700px;
    height: 500px;
    margin: auto;
    
}

.main .input{
    
    max-height: 100px;

}

.main .bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #83D6DE;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.main form input{
    width: 100%;
    height: 100px;
    font-size: 50px;
    text-align: right;
    padding-right: 10px;
    
    background-color: blanchedalmond;
    margin: auto;

    border-top-left-radius:  15px;
    border-top-right-radius: 15px;
}


.main .slider{
    
    margin: auto;
}

.main .slider .selectNumber{
    font-size: 30px;
}

.main .slider .nonSelectNumber{
    font-size: 25px;
    opacity: 0.5;
}

.main .output{
    font-size: 50px;
    margin: auto;
    
    text-align: left;
}

.outputNumber{
    background-color: #83D6DE;
    font-size: 70px;
    
    height: 70px;
    width: 90%;
    margin: auto;
}